[project]
	description = Remember all of your passwords, without storing any of them.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stephen Waits (swaits)
[access "refs/for/refs/*"]
	read = group user/Stephen Waits (swaits)
	push = group user/Stephen Waits (swaits)
	label-Code-Review = -2..+2 group user/Stephen Waits (swaits)
	label-Verified = -1..+1 group user/Stephen Waits (swaits)
	rebase = group user/Stephen Waits (swaits)
	removeReviewer = group user/Stephen Waits (swaits)
	submit = group user/Stephen Waits (swaits)
[access "refs/heads/*"]
	read = group user/Stephen Waits (swaits)
	create = group user/Stephen Waits (swaits)
	push = +force group user/Stephen Waits (swaits)
	pushMerge = group user/Stephen Waits (swaits)
[access "refs/tags/*"]
	push = +force group user/Stephen Waits (swaits)
	pushTag = group user/Stephen Waits (swaits)
	pushSignedTag = group user/Stephen Waits (swaits)
